[Desktop Entry]
Name=Little Wizard
Name[pl]=Mały Czarodziej
Comment=Development environment for children
Comment[pl]=Środowisko programistyczne dla dzieci
Exec=lw
Icon=littlewizard-icon.png
Terminal=false
Type=Application
Categories=Education;
Encoding=UTF-8
# vi: encoding=utf-8